*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.clearfix:after{
    content: "";
    display: block;
    clear: both;
}
body{
    background-color: lightgray;
}
.container {
    width: 1500px;
    margin: 10px auto 10px auto;
    background-color: white;
    overflow: hidden;
}
.head {
    margin: 0px auto 0px auto;
    width: 90%;
    background-color: #e1eadf;
    text-align: center;
    height: 40px;
    border-radius: 10px;
    
}

.logo {
    font-family: 'Tangerine',serif;
    font-size: 40px;
    font-weight: bold;
    float: left;
    overflow: hidden;
    color: #c31010;
    margin-left: 5px;
    margin-bottom: 6px;
    text-shadow: 4px 4px 4px #404143;
    margin-bottom: 8px;
    
}

.menu {
    float: right;
    overflow: hidden;
    font-family: cursive;
    font-size: 20px;
    margin-right: 5px;
    padding-top: 6px;
}
.menu a{
    padding: 0px 10px;
    background-color: #c6c623;
    border-radius: 20px;
    font-weight: 400;
    text-decoration: none;
}
.menu a:hover{
    background-color: #676262;
    color: #0fce9b;
}
.main_div {
    width: 90%;
    margin: 20px auto 20px auto;
    border-top: 1px solid #aaa;
    
}

.bolg {
    width: 65%;
    margin-top: 10px;
    float: left;
}
.date{
    margin: 20px auto 0px 40px;
    font-size: 16px;
    font-style: italic;
    
}
.another_blog {
    width: 35%;
    height: 500px;
   
    margin-top: 100px;
    float: left;
}
.another_blog h1{
    text-align: center;
    margin: 20px auto 15px auto;
    padding: 4px;
    font-size: 25px;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}
.another_post_link{
    width: 100%;
    margin: 20px auto 15px auto;
}
.another_post_link ul{
    margin-left: 30px;
    list-style-position: inside;
    font-size: 22px;
}
.another_post_link ul li{
    margin: auto 40px auto 0px;
}
.link1{
    text-decoration: none;
    color: black;
    font-weight: 400;
    
}
.link1:hover{
    color: #eb0a0a;
    background-color: #e5e5e5;
    
}
.footer {
    width: 100%;
    height: 200px;
    background-color: black;
    position: static;
    color: white;
    padding-top: 50px;
}
.footer p{
    text-align: center;
    margin-top: 10px;
    color: #919191; 
}
.menu1{
    font-family: arial;
    font-size: 16px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border-bottom: 2px solid #8e8e91;
    border-top: 2px solid #8e8e91;
    padding: 15px;
    
}
.menu1 a{
    padding: 14px 16px;
    color: #919191;;
    font-weight: 400;
}
.menu1 a:hover{
    color: #edeaea;
}
h1{
    text-align: left;
    
}
.post {
    margin: 20px auto 20px auto;
    width: 90%;
}
.post img{
    width: 100%;
    height: 550px;
}
.post h1{
    margin: 10px auto 15px auto;
}
.post p{
    text-indent: 35px;
    margin-bottom: 25px;
    font-size: 18px;
}
.link{
    
    color: red;
    font-weight: bold;
    background-color: #c6c623;
    font-size: 18px;
     text-decoration: none;
}
.link:hover{
    color: black;
    background-color: red;
    text-decoration: none;
}
